div.container {
    background-image: url("assets/images/ambientBackground.jpg");
}
body {
    background-image: url("../images/ambientBackground.jpg");
}

        button, div, form, input {
            margin: 5px;
        }

        .item {
            margin: 5px;
            float: left;
        }

        p {
            margin-top: 1px;
            text-align: center;
            color:white;
        }
#instructions {
    
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 10px;
}


        #resultsNumber {
            float: right;
        }

        #title {
            margin-bottom: 1px;
            margin-left: 10px;
        }

        #userQuery {
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 10px;
        }

        #refresh {
            float: right;
        }